mlflow==2.2.2
boto3


MLFLOW_TRACKING_URI=https://dagshub.com/abbasi2021/MLFlow_dagshub.mlflow \
MLFLOW_TRACKING_USERNAME=abbasi2021 \
MLFLOW_TRACKING_PASSWORD=e0d5cf183ebc96567117f160e8bfea0a6fd27842 \
python script.py